
/*-------------- анимировать переходы----------- */
@keyframes fadeIn {
	from { opacity: 0; transform: scale(0.7); }
}

  
.baseView.ng-enter {
	animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: fadeIn;
	-moz-animation-duration: 0.7s;
	-moz-animation-name: fadeIn;
	-moz-animation-fill-mode: both;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
}


  
 /*-------------- основной ----------- */
.blog-footer {
	padding: 40px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
}
/*----------- оформление навиг меню ----------- */
.navbar {
	border: 0;
	padding: 0;
    background-color: #E7E7E7;
  	margin-bottom: 0px;
}

.navbar .navbar-nav > li > a {
	font-size: 16px;
	color: #999;
	padding: 15px 5px;
}

.navbar .navbar-nav > li:hover,
.navbar .navbar-nav > li > a:hover {
	background-color: #52b6ec;
	color: #fff;
	transition: 0.7s;
}

.navbar .navbar-nav > li > a:focus {
	background-color: #52b6ec;
}
  
.navbar-header .logo {
	color: #80c9f1;
	text-shadow: 2px 2px 5px white,
				2px -2px 5px white;
}



/*--------------оформление грида фоток----------- */

.album .thumbnail {
    cursor:pointer;
	position: relative;
	margin:0;
	padding:0;
	margin-top: 10px;
}

.album .caption  {
	font-size: 12px;
	text-align: center;
	margin:0;
	font-weight: bold;
	height:35px;
	background-color:pink;
	overflow: hidden;
	line-height:13px;
}

.album img {
	height: 200px !important;
	transition: 0.7s;
	border-radius: 2px;
	transform: scale(0.97); 
}
.album .hover {
	position: absolute;
	bottom: 30px;
	width:100%;
	opacity: 0;
	transition: 0.7s;
	margin: 4px 0;
	max-height:70px;
	overflow: hidden;
}
.album .hover .opus{
	max-height:50px;
	overflow: hidden;
	color: #fff; 
	padding: 2px;
	font-size: 12px;
	line-height: 12px;
}
.album .hover p {
	margin:5px 10px;
	line-height: 11px;
}
.album .thumbnail:hover .hover {
	background-color: #52b6ec;
	opacity: 0.8;
}
.album .thumbnail:hover img {
	transform: scale(1); 
}

/*--------------оформление грида альбомов----------- */
.albums .vcenter {
	display: inline-block;
    vertical-align: middle;
    float: none;
	padding: 0 4px!important;
}

.albums .caption {
	word-wrap: break-word;
	white-space: pre-wrap;
}

.albums img {
	border-radius:4px;
	padding-bottom:4px;
	max-height:70px;
	border-radius:10px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.albums.row {
	position: relative;
	border-radius:2px; 
	padding: 5px;
}

.albums.row:nth-of-type(odd) {
	background-color: #f9f9f9;
}

.albums.row:hover {
	transition: all 0.7s;
	background-color: #E7E7E7;
}

.albums .transit {
	transition: all 0.7s;
	opacity: 0;
	
}

.albums.row:hover  .transit{
	transform: scale(1.1);
	opacity: 1;
}

.albums .link {
	font-size:8px;
}

.albums .link:hover {
	cursor: pointer;
	color: black;
	opacity: 1;
}

.albums .perehod {
	color: grey;
	font-size:20px;
	transition: all 0.7s;
}

.albums .perehod:hover{
	color: #52b6ec;
	font-size:22px;
}

.albums .date-info {
	font-size:9px;
}
.albums .opus {
	font-size: 11px;
	border-bottom: solid 2px #52b6ec;
}



/*--------------оформление карточки фотки----------- */
.photo img {
	display:block;
	margin: auto;
}
.photo .title {
	color: #52b6ec;
	font-size: 16px;
}


/*------------------------оформление меню для для добавления альбома-------------------------- */

.panel {
	border: 0;
}
.panel.ng-enter, .panel.ng-leave {
    transition: 1.5s;
}


/*------------------------
1. обязательно транзитион на коневой виев
2. дальше оформляем виев как он будет віглядет в результате заполнения шаблона
3. потом добавляем переході для вхождения и исчезновения виева
4. Переході заполняются следующим образом
оформление меню для редактирования-------------------------- */


.slide-menu {
	position: fixed;
	z-index: 200;
	top: 0;
	right: 0;
	width:100%;
	height: 100%;
}

.slide-menu .slide-shaddow {
	background-color: black;
	opacity: 0.2;
	width: 70%;
	height:100%;
	position: absolute;
	top: 0;
	left:0;
}
.slide-menu .slide-item {
	top: 0;
	right: 0;
	position: absolute;
	background-color: #67b5d1;
	min-width:150px;
	width: 30%;
	height:100%;
	padding: 5px 10px;
}

.panel.ng-enter  .slide-menu  {
	right: -100%;
	transition: 1.5s;
}

.panel.ng-enter-active  .slide-menu  {
	right: 0;
	transition: 1.5s;
}

.panel.ng-leave  .slide-menu  {
	left: 0;
	transition: 1.5s;
}

.panel.ng-leave-active  .slide-menu  {
	left: -100%;
	transition: 1.5s;
}


  


