[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { 
  display: none; 
} 

.fileList {
	font: 14px/1.5 Arial;
	transition: all 0.7s;
	padding:5px 0;
	position: relative;
	border-radius: 3px;
}
.fileList  span {
	padding-right:4px;
}
.file {
	color: grey;
}
.folder {
	color: #80c9f1;
	cursor: pointer;
}
.fileList .toolTip {
	position:absolute;
	right: 10px;
	bottom:-2px;
	transition: all 0.7s;
	font: 12px/1.5 Arial;
	color:pink;
	opacity:0;
}
.fileList:nth-child(2n){
	background-color: #E7E7E7;
}

.fileList:hover {
	background-color:  #52b6ec;
	color: #fff;
}
.fileList:hover .toolTip {
	opacity:1;
}
.fileList .toolMen {
	opacity:0;
	float:right;
	color: #fff;
	transition: all 0.5s;
}

#red {

	color:red;
}

.fileList:hover .toolMen {
	opacity:1;
} 
.fileList .name:hover {
	color:red;
	cursor:pointer;
}
.fileList .name {
	display:inline;
}

.fileList .frame {
	padding:3px;
	border: 1px solid blue;
	border-radius: 3px;
	position:relative;
}


.fileList .save:hover {
	cursor:pointer;
	transition: all 0.5s;
	color:blue;
}
.fileList .save {
	position:absolute;
	right:10px;
	top:10px;
	color:#000;
}
.fileList .inp {
	color:#000 !important; 
}

#red:hover {
	cursor: pointer;
	transition: all 0.5s;
	border: 1px solid red;
	border-radius: 3px;
}
