<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>webServicer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/base.css"/>
	
    <!-- endbuild -->
  </head>
  <body data-ng-app="App" ng-controller = "main">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav>
	</nav> <!-- end nav -->

   

    <div class="container">
		<h1 data-ng-cloak>ID соеденения {{id}}</h1>
		
			<div data-ng-click="goTo(item)" class = "fileList row" data-ng-repeat="item in list | orderBy: 'item.type'" data-ng-class="item.type ? 'file' : 'folder'">
				<div class="col-xs-5"> 
					<span style="color:orange" class="glyphicon glyphicon-folder-open" data-ng-hide="item.type"></span>
					<span class="glyphicon glyphicon-asterisk" data-ng-show="item.type"></span>
					<div class="name" data-ng-cloak data-ng-click="openfile(item)">{{item.name }} </div>
					<div class="frame" data-ng-show="itemShow(item)">
						<input class="inp form-control" type="text" ng-model="fullName"></input>
						<span ng-click="renFile(item.full, fullName)" style="float:right" class="save glyphicon glyphicon-saved"></span>
					</div> <!-- end frame -->
				</div> <!-- end div с name -->
				<div class="col-xs-1" data-ng-cloak> {{item.size  }} </div>	
				<div class="col-xs-3" data-ng-cloak> {{item.bt | date : short : timezone}} </div>	
				<div class="col-xs-3"> 
					<span data-ng-cloak>{{item.ct | date : short : timezone}} </span>
					<span class="toolMen glyphicon glyphicon-menu-right" data-ng-hide="item.type"></span>
					<span id="red" class="toolMen red glyphicon glyphicon glyphicon-minus" data-ng-show="item.type" data-ng-click="fileDelet(item.full)"></span>
				</div>	
			</div> <!-- end row -->
		
    </div> <!-- end main -->


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
		<script src="scripts/service/service.js"></script>
        <!-- endbuild -->
</body>
</html>
